<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tech Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <script th:src="@{/richtext/jquery.richtext.js}"></script>
  <link rel="stylesheet" th:href="@{/richtext/richtext.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" />
</head>
<body>
<div class="container-scroller">
  <nav th:replace="~{sidebar :: side_bar}"></nav>
    <div class="main-panel">
      <!-- partial:partials/_footer.html -->
      <!-- Trang Chủ-->
      <article layout:fragment="content">
        <div class="col-12 grid-margin card-body">
          <div class="card-body px-5 py-5 border border-secondary rounded p-3" style="max-width: 700px; margin: 0 auto">
            <h3 class="card-title text-left mb-3">[[${pageTitle}]]</h3>
            <form  th:action="@{/users/save}" th:object="${user}" method="post" enctype="multipart/form-data" onsubmit="return checkEmailUnique(this);" >
              <input type="hidden" th:field="*{id}" />
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Email: </label>
                <div  class="col-sm-12">
                  <input style="color:white" type="email" class="form-control p_input" th:field="*{email}" required minlength="8" maxlength="128">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Tên: </label>
                <div class="col-sm-12">
                  <input style="color:white" type="text" class="form-control p_input" th:field="*{firstName}" required minlength="2" maxlength="45">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Họ và tên đệm: </label>
                <div class="col-sm-12">
                  <input style="color:white" type="text" class="form-control p_input" th:field="*{lastName}" required minlength="2" maxlength="45">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Mật khẩu: </label>
                <div class="col-sm-12">
                  <input th:if="${user.id == null}" style="color:white" type="password" class="form-control p_input"
                         th:field="*{password}" required minlength="8" maxlength="20">
                  <input th:if="${user.id != null}" style="color:white" type="password" class="form-control p_input"
                         th:field="*{password}" minlength="8" maxlength="20">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-form-label">Chức vụ: </label>
                <div class="col-sm-12">
                  <th:blcok th:each="role : ${listRoles}">
                    <input style="color:white" type="checkbox"  th:field="*{roles}"
                           th:text="${role.name}"
                           th:value="${role.id}"
                           class="m-2 form-check-input "
                    />
                    -<small>[[${role.description}]]</small>
                    <br/>
                  </th:blcok>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Kích hoạt: </label>
                <div class="col-sm-3">
                  <input type="checkbox" class="form-check-primary" th:field="*{enabled}">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Hình Ảnh: </label>
                <div class="col-sm-4">
                  <input type="hidden" th:field="*{photos}" />
                  <input type="file" id="fileImage" name="image" accept="image/jpeg, image/png "
                        class="mb-2"/>
                  <img id="thumbnail" alt="Photos preview" th:src= "@{${user.photosImagePath}}"
                      class="img-fluid"/>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                <button type="submit" class="btn btn-secondary btn-block enter-btn" id="buttonCancel">Cancel</button>
              </div>
            </form>

            <div class="modal fade text-center" id="modalDialog">
              <div class="modal-dialog">
                <div class="model-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Thông Báo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <div class="modal-body">
                    <span id="modalBody"></span>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </article>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/jquery.cookie.js}" type="text/javascript}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/misc.js}"></script>
<script th:src="@{/assets/js/settings.js}"></script>
<script th:src="@{/assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{assets/js/dashboard.js}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- End custom js for this page -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#buttonCancel").on("click", function(){
      window.location = "[[@{/users}]]";
    });

    $("#fileImage").change(function () {
      fileSize = this.files[0].size;

      alert("Kích cỡ ảnh: " + fileSize);
      if(fileSize > 1048576){
        this.setCustomValidity("Vui lòng chọn ảnh có kích cỡ dưới 1MB!");
        this.reportValidity();
      } else {
        this.setCustomValidity("");
        showImageThumbnail(this);
      }
    })
  });

  function showImageThumbnail(fileInput){
    var file = fileInput.file[0];
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#thumbnail").attr("src", e.target.result);
    };
    reader.readAsDataURL(file);
  }

  function checkEmailUnique(form)
  {
    url= "[[@{/users/check_email}]]";
    userEmail = $("#email").val();
    csrfValue = $("input[name='_csrf']").val();
    userId = $("#id").val();
    params = {id: userId, email: userEmail, _csrf: csrfValue};

    $.post(url, params, function(response){
      if(response == "OK"){
        form.submit();
      }else if(response == "Duplicated"){
        swal({
          title: 'Thông báo',
          text:'Email ' + userEmail + ' đã được sửa dụng!',
          icon:'warning',
          button:'OK'
        });
      }else{
        swal({
          title: 'Thông báo',
          text:'Không nhận được thông tin!',
          icon:'warning',
          button:'OK'
        });
      }
      /* alert("Response server: " + response);*/
    }).fail(function(){
      swal({
        title: 'Thông báo',
        text:'Không nhận được thông tin!',
        icon:'warning',
        button:'OK'
      });
    });
    return false;
  }

  function showModalDialog(title, message){
    $("#modalTitle").text(title);
    $("#modalBody").text(message);
    $("#modalDialog").modal();
  }
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>





