<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Internal Server Error', 'none')"/>
<body>
<header class="header-area sticky-header header-transparent">
  <div th:replace="navigation :: header_menu"></div>
</header>
<div class="m-3" style="padding-top: 60px">
  <h2>Sorry, the server has encountered an error while processing your request</h2>
</div>
<footer class="footer-area">
  <div class="footer-main">
    <div th:replace="navigation :: footer_menu"></div>
  </div>
</footer>
</body>
</html>