<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Order ID: </label>
            </div>
            <div class="col-sm-10">
                <div th:utext="*{id}" class="border p-2 m-2"></div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Customer: </label>
            </div>
            <div class="col-sm-10">
                <div th:utext="*{customer.fullName}" class="border p-2 m-2"></div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Product Cost: </label>
            </div>
            <div class="col-sm-10">
                <input type="number" th:field="*{productCost}" class="border p-2 m-2"></input>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Subtotal: </label>
            </div>
            <div class="col-sm-10">
                <input type="number" th:field="*{subtotal}" class="border p-2 m-2"></input>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Shipping Cost:</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{shippingCost}" class="border p-2 m-2"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Tax: </label>
            </div>
            <div class="col-sm-10">
                <input type="number" th:field="*{tax}" class="border p-2 m-2"></input>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Total: </label>
            </div>
            <div class="col-sm-10">
                <input type="number" th:field="*{total}" class="border p-2 m-2"></input>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Payment method: </label>
            </div>
            <div class="col-sm-10">
                <select class="border p-2 m-2" th:field="*{paymentMethod}">
                    <option th:value = "COD">COD</option>
                    <option th:value = "CREDIT_CARD">CREDIT_CARD</option>
                    <option th:value = "PAYPAL">PAYPAL</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label>Status: </label>
            </div>
            <div class="col-sm-10">
                <select class="border p-2 m-2" th:field="*{status}">
                    <option th:value = "NEW">NEW</option>
                    <option th:value = "CANCELLED">CANCELLED</option>
                    <option th:value = "PROCESSING">PROCESSING</option>
                    <option th:value = "PACKAGED">PACKAGED</option>
                    <option th:value = "PICKED">PICKED</option>
                    <option th:value = "SHIPPING">SHIPPING</option>
                    <option th:value = "DELIVERED">DELIVERED</option>
                    <option th:value = "RETURN_REQUESTED">RETURN_REQUESTED</option>
                    <option th:value = "RETURNED">RETURNED</option>
                    <option th:value = "PAID">PAID</option>
                    <option th:value = "REFUNDED">REFUNDED</option>
                </select>
            </div>
        </div>
</div>
</body>
</html>