<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" id="divProductDetails">
  <div class="form-inline" id="divDetail0">
      <input type="hidden" name="detailIDs" value="0" />
      <label class="m-3">Name:</label>
      <input style="color: white" type="text" class="form-control" name="detailNames" maxlength="255"/>
      <label class="m-3">Value:</label>
      <input style="color: white" type="text" class="form-control" name="detailValues" maxlength="255"/>
  </div>
</div>
</body>
</html>