<div class="modal-header">
  <h4 class="modal-title">Product Details</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Tổng Quan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#description" role="tab">Mô tả</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#images" role="tab">Hình Ảnh</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#details" role="tab">Chi Tiết</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Kích thước</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active p-3" id="overview" role="tabpanel">
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Tên sản phẩm: </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.name}" class="border p-2 m-2"></div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Đường dẫn: </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.alias}" class="border p-2 m-2"></div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Thương hiệu: </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.brand.name}" class="border p-2 m-2"></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Thương hiệu: </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.category.name}" class="border p-2 m-2"></div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Enabled:</label>
        <div class="col-sm-10">
          <input type="checkbox" th:checked="${product.enabled}" onclick="return false;" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">In-Stock:</label>
        <div class="col-sm-10">
          <input type="checkbox" th:checked="${product.inStock}" onclick="return false;" />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Giá gốc: </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.cost}" class="border p-2 m-2"></div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Giá bán: </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.price}" class="border p-2 m-2"></div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Giảm giá: </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.discountPercent}" class="border p-2 m-2"></div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Updated Time:</label>
        <div class="col-sm-10">
          <span th:text="${#dates.format(product.updatedTime, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
      </div>
    </div>
    <div class="tab-pane p-3" id="description" role="tabpanel" >
      <div class="m-2">
        <label>Mô tả:</label>
        <div th:utext="${product.shortDescription}" class="border p-2 m-2"></div>
      </div>

      <div class="m-2">
        <label>Mô tả chi tiết:</label>
        <div th:utext="${product.fullDescription}" class="border p-2 m-2"></div>
      </div>
    </div>
    <div class="tab-pane p-3" id="images" role="tabpanel">
      <div class="row">
        <div class="col border m-3 p-2">
          <div><label>Main Image: [[${product.mainImage}]]</label></div>
          <div class="m-2">
            <img alt="Main image preview" style="width: 130px"
                 th:src="@{${product.mainImagePath}}"/>
          </div>
        </div>

        <th:block th:each="productImage, status : ${product.images}">
          <div class="col border m-3 p-2">
            <div>
              <label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
            </div>
            <div class="m-2">
              <img th:alt="'Extra image #' + ${status.index + 1} + ' preview'" style="width: 130px"
                   th:src="@{${productImage.imagePath}}"/>
            </div>
          </div>
        </th:block>
      </div>
    </div>
    <div class="tab-pane p-3" id="details" role="tabpanel">
      <div>
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
          <tr>
            <th width="40%">Name</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="detail: ${product.details}">
            <td>[[${detail.name}]]</td>
            <td>[[${detail.value}]]</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane p-3" id="shipping" role="tabpanel">
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Chiều dài (cm): </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.length}" class="border p-2 m-2"></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Chiều rộng (cm): </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.width}" class="border p-2 m-2"></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Chiều cao (cm): </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.height}" class="border p-2 m-2"></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label>Cân nặng (kg): </label>
        </div>
        <div class="col-sm-10">
          <div th:utext="${product.weight}" class="border p-2 m-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/common.js}" ></script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/countries_setting.js}"></script>
<script th:src="@{/js/states_setting.js}"></script>