<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopme','none')"/>

</head>
<body style="  background-color: #f4cccc " class="box">
<header class="header-area ">
    <div th:replace="navigation :: header_menu"></div>
</header>
<div style="border-radius: 15px" class="cont">
    <div style="text-align: center" class="form sign-in">
        <h2>Welcome back,</h2>
        <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
            <div th:if="${param.error}">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
            <div th:if="${param.logout}">
                <p class="text-warning">You have been logged out.</p>
            </div>
            <label>
                <span style="color: black">Email</span>
                <input type="email" name="email" class="form-control" required/>
            </label>
            <label>
                <span style="color: black">Password</span>
                <input type="password" name="password" class="form-control" required />
            </label>
            <label>
                <input  type="submit" class="btn-login"  value="Sign In"/>
            </label>
            <label>
                <button  class="fb-btn">Connect with <span><a style="color: #3a61c9" th:href="@{/oauth2/authorization/facebook}">Facebook</a></span></button>
            </label>
            <label style="padding-top: 10px">
                <button  class="fb-btn">Connect with <span><a th:href="@{/oauth2/authorization/google}">Google</a></span></button>
            </label>

        </form>
    </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>New here?</h2>
                    <p>Sign up and discover great amount of new opportunities!</p>
                </div>
                <div class="img__text m--in">
                    <h2>One of us?</h2>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>

            <div class="form sign-up" >
                <h2>Time to feel like home,</h2>
                <form th:replace="register/register_form :: register"></form>
            </div>
        </div>

</div>

<link rel="stylesheet" th:href="@{/assets/login_style.css}">
<link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
</body>
<footer class="footer-area">
    <div class="footer-main">
        <div th:replace="navigation :: footer_menu"></div>
    </div>
</footer>

<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>

<!-- Mirrored from template.hasthemes.com/brancy/brancy/product-details-group.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 21 Nov 2022 06:24:13 GMT -->
</html>