<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-------------------------- Bộ Lộc ------------------------->
<th th:fragment="column_link(fieldName, columnLabel)">
    <a style="color: #6c7293"
       th:href="@{'/users/page/' + ${currentPage}+ '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir: reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>

<!-------------------------- Phân trang ------------------------->
<a th:fragment="page_link(pageNum, label)"
   class="page-link"
   th:href= "@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${label}]]
</a>

<!-------------------------- Đóng/ Mở kích hoạt ------------------------->
<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
    <a th:if="${enabled == true}" class="fas fa-check-circle fa-2x icon-green"
       th:href="@{${entityURL} + '/enabled/false'}"
       th:title="'Disable this ' + ${entityName}"
    ></a>

    <a th:if="${enabled == false}" class="fas fa-circle fa-2x icon-dark"
       th:href="@{${entityURL} + '/enabled/true'}"
       th:title="'Enable this ' + ${entityName}"
    ></a>
</div>

<div th:fragment="edit(entityName, editURL)" th:remove="tag">
    <a class="fas fa-edit fa-2x icon-green" th:href="@{${editURL}}"
       th:title="'Edit this ' + ${entityName}"></a>
</div>

<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
    <th:block th:if="${visible}">
        <a class="fas fa-trash fa-2x icon-dark link-delete"
           th:href="@{${deleteURL}}"
           th:entityId="${entityId}"
           th:title="'Delete this ' + ${entityName}"></a>
    </th:block>
</div>
</body>
</html>