<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="page_head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[${title}]]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{assets/images/favicon.png}" />
</head>
<body>

<!-------------------------- Bộ Lộc ------------------------->
<th th:fragment="column_link(fieldName, columnLabel)">
    <a style="color: #6c7293"
       th:href="@{'/users/page/' + ${currentPage}+ '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir: reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>
<th th:fragment="column_linkCat(fieldName, columnLabel)">
    <a style="color: #6c7293"
       th:href="@{'/categories/page/' + ${currentPage}+ '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir: reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>
<th th:fragment="column_linkBrand(fieldName, columnLabel)">
    <a style="color: #6c7293"
       th:href="@{'/brands/page/' + ${currentPage}+ '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir: reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>
<th th:fragment="column_linkPro(fieldName, columnLabel)">
    <a style="color: #6c7293"
       th:href="@{'/products/page/' + ${currentPage}+ '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir: reverseSortDir} + ${categoryId != null ? '&categoryId=' + categoryId : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>
<!-------------------------- Phân trang ------------------------->
<a th:fragment="page_link(pageNum, label)"
   class="page-link"
   th:href= "@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${label}]]
</a>
<a th:fragment="page_linkCat(pageNum, label)"
   class="page-link"
   th:href= "@{'/categories/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${label}]]
</a>
<a th:fragment="page_linkBrand(pageNum, label)"
   class="page-link"
   th:href= "@{'/brands/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${label}]]
</a>
<a th:fragment="page_linkPro(pageNum, label)"
   class="page-link"
   th:href= "@{'/products/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${categoryId != null ? '&categoryId=' + categoryId : ''} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${label}]]
</a>
<div th:fragment="pagination(entityName)" th:remove="tag">
    <!-- IF -->
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>

    <!-- ELSE -->
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found</span>
    </div>

    <!-- only display pagination when there are users; else, no users no pagination -->
    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">

                <li th:class=" ${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(1, 'First')}"></a>
                </li>

                <li th:class=" ${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${currentPage - 1}, 'previous')}"></a>
                </li>

                <!-- org.thymeleaf.expression.Numbers class, An object of this class is usually available in variable evaluation expressions with the name #numbers. -->
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
                </li>

                <li  th:class=" ${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${currentPage + 1}, 'Next')}"></a>
                </li>

                <li th:class=" ${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-------------------------- Đóng/ Mở kích hoạt ------------------------->
<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
    <a th:if="${enabled == true}" class="fas fa-check-circle fa-2x icon-green"
       th:href="@{${entityURL} + '/enabled/false'}"
       th:title="'Disable this ' + ${entityName}"
    ></a>

    <a th:if="${enabled == false}" class="fas fa-circle fa-2x icon-dark"
       th:href="@{${entityURL} + '/enabled/true'}"
       th:title="'Enable this ' + ${entityName}"
    ></a>
</div>

<div th:fragment="edit(entityName, editURL)" th:remove="tag">
    <a class="fas fa-edit fa-2x icon-green" th:href="@{${editURL}}"
       th:title="'Edit this ' + ${entityName}"></a>
</div>

<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
    <th:block th:if="${visible}">
        <a class="fas fa-trash fa-2x icon-dark link-delete"
           th:href="@{${deleteURL}}"
           th:entityId="${entityId}"
           th:title="'Delete this ' + ${entityName}"></a>
    </th:block>
</div>
</body>
</html>