<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="register">
    <div class="form sign-up">
        <h2>Time to feel like home,</h2>
        <form th:action="@{/create_customer}" method="post" th:object="${customer}"
              style="max-width: 600px; margin: 0 auto"
              onsubmit="return checkEmailUnique(this);">
            <label>
                <span>First Name</span>
                <input type="text" th:field="*{firstName}" class="form-control"
                       required="required" maxlength="45" minlength="2"/>
            </label>
            <label>
                <span>Last Name</span>
                <input type="text" th:field="*{lastName}" class="form-control"
                       required="required" maxlength="45" minlength="2"/>
            </label>
            <label>
                <span>Email</span>
                <input type="email" th:field="*{email}" class="form-control"
                       required="required" maxlength="45" minlength="8"/>
            </label>
            <label>
                <span>Password</span>
                <input type="password" th:field="*{password}" class="form-control"
                       required="required" maxlength="15" minlength="6"
                       oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                />
            </label>
            <label>
                <span>Re-type Password</span>
                <input type="password" id="confirmPassword" class="form-control"
                       required="required" maxlength="15" minlength="6"
                       oninput="checkPasswordMatch(this)"
                />
            </label>
            <label>
                <span>Phone Number</span>
                <input type="text" th:field="*{phoneNumber}" class="form-control"
                       required="required" maxlength="15" minlength="8"/>
            </label>
            <label>
                <span>Address Line 1</span>
                <input type="text" th:field="*{addressLine1}" class="form-control"
                       required="required" maxlength="64" minlength="3"/>
            </label>
            <label>
                <span>Address Line 2</span>
                <input type="text" th:field="*{addressLine2}" class="form-control"
                       maxlength="64"/>
            </label>
            <label>
                <span>City</span>
                <input type="text" th:field="*{city}" class="form-control"
                       maxlength="45" minlength="2"/>
            </label>
            <label>
                <span>Country</span>
                <select class="form-control" th:field="*{country}">
                    <th:block th:each="country : ${listCountries}">
                        <option th:value="${country.id}">[[${country.name}]]</option>
                    </th:block>
                </select>
            </label>
            <label>
                <span>State/Province</span>
                <input type="text" th:field="*{state}" class="form-control"
                       maxlength="45" minlength="3" list="listStates"/>
                <datalist id="listStates"></datalist>
            </label>
            <label>
                <span>Postal Code</span>
                <input type="text" th:field="*{postalCode}" class="form-control"
                       maxlength="10" minlength="2"/>
            </label>

            <div class="text-center">
                <input style="border: none; border-radius: 30px; font-size: 15px; height: 45px; outline: none; width: 100%; background: rgba(255,255,255,0.6); cursor: pointer"
                       type="submit" value="Create Account" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div th:replace="fragments :: modal_dialog"></div>
    <script type="text/javascript">
        contextPath = "[[@{/}]]";

        function checkEmailUnique(form) {
            url = contextPath + "customers/check_unique_email";
            customerEmail = $("#email").val();
            csrfValue = $("input[name='_csrf']").val();

            params = {email: customerEmail, _csrf: csrfValue};

            $.post(url, params, function (response) {
                if (response == "OK") {
                    form.submit();
                } else if (response == "Duplicated") {
                    showWarningModal("There is another cusotmer having the email " + customerEmail);
                } else {
                    showErrorModal("Unknown response from server");
                }
            }).fail(function () {
                showErrorModal("Could not connect to the server");
            });

            return false;
        }
    </script>
    <script type="text/javascript" th:src="@{/assets/js/common_customer_form.js}"></script>
</div>
</body>
</html>