<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle},'none')">
</head>
<body>

        <h2>Time to feel like home,</h2>
        <form th:fragment="register" th:action="@{/create_customer}" method="post" th:object="${customer}"
              style="max-width: 600px; margin: 0 auto">
            <label>
                <span style="color: black">First Name</span>
                <input type="text" th:field="*{firstName}" class="form-control"
                       required="required" maxlength="45" minlength="2"/>
            </label>
            <label>
                <span style="color: black">Last Name</span>
                <input type="text" th:field="*{lastName}" class="form-control"
                       required="required" maxlength="45" minlength="2"/>
            </label>
            <label>
                <span style="color: black">Email</span>
                <input type="email" th:field="*{email}" class="form-control"
                       required="required" maxlength="45" minlength="8"/>
            </label>
            <label>
                <span style="color: black">Phone Number</span>
                <input type="text" th:field="*{phoneNumber}" class="form-control"
                       required="required" maxlength="15" minlength="8"/>
            </label>
            <label>
                <span style="color: black">Password</span>
                <input type="password" th:field="*{password}" class="form-control"
                       required="required" maxlength="15" minlength="6"
                       oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                />
            </label>
            <label>
                <span style="color: black">Re-type Password</span>
                <input type="password" id="confirmPassword" class="form-control"
                       required="required" maxlength="15" minlength="6"
                       oninput="checkPasswordMatch(this)"
                />
            </label>

            <label>
                <span style="color: black">Address Line 1</span>
                <input type="text" th:field="*{addressLine1}" class="form-control"
                       required="required" maxlength="64" minlength="3"/>
            </label>
            <label>
                <span style="color: black">Address Line 2</span>
                <input type="text" th:field="*{addressLine2}" class="form-control"
                       maxlength="64"/>
            </label>
            <label>
                <span style="color: black">Country</span>
                <select style="color: black" class="form-control" th:field="*{country}">
                    <th:block th:each="country : ${listCountries}">
                        <option style="color: black" th:value="${country.id}">[[${country.name}]]</option>
                    </th:block>
                </select>
            </label>
            <label>
                <span style="color: black">City</span>
                <input type="text" th:field="*{city}" class="form-control"
                       maxlength="45" minlength="2"/>
            </label>

            <label>
                <span style="color: black">State/Province</span>
                <input type="text" th:field="*{state}" class="form-control"
                       maxlength="45" minlength="3" list="listStates"/>
                <datalist id="listStates"></datalist>
            </label>
            <label>
                <span style="color: black">Postal Code</span>
                <input type="text" th:field="*{postalCode}" class="form-control"
                       maxlength="10" minlength="2"/>
            </label>

            <div style="padding-top: 25px" class="text-center">
                <input
                       type="submit" value="Register" class="btn-login"/>
            </div>
        </form>

</body>
</html>