<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tech Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <script th:src="@{/richtext/jquery.richtext.js}"></script>
  <link rel="stylesheet" th:href="@{/richtext/richtext.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" />
  <script src="../../static/js/common_form.js"></script>
</head>
<body>
<div class="container-scroller">
  <nav th:replace="~{sidebar :: side_bar}"></nav>
  <div class="main-panel">
    <!-- partial:partials/_footer.html -->
    <!-- Trang Chủ-->
    <article layout:fragment="content">
      <div class="col-12 grid-margin card-body">
        <div class="card-body px-5 py-5 border border-secondary rounded p-3" style="max-width: 700px; margin: 0 auto">
          <h3 class="card-title text-left mb-3">[[${pageTitle}]]</h3>
          <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
          </div>
          <form th:action="@{/brands/save}" method="post"
                enctype="multipart/form-data" onsubmit="return checkUnique(this)"
                th:object="${brand}" >
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
              <label class="col-sm-3 col-form-label">Tên thương hiệu: </label>
              <div  class="col-sm-12">
                <input style="color:white" type="text" class="form-control p_input" th:field="*{name}" required minlength="3" maxlength="128">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-form-label">Logo: </label>
              <div class="col-sm-12">
                <input  type="hidden" th:field="*{logo}"/>
                <input style="color:white" type="file" id="fileImage" name="fileImage" th:required="${brand.id == null}"/>
                <img id="thumbnail" alt="Image Preview" th:src="@{${brand.logoPath}}" width="100px" height="100px">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-form-label">Chọn một hoặc nhiều danh mục: </label>
              <div class="col-sm-12">
                <select style="color:white; resize: vertical; height: 200px;" class="form-control" th:field="*{categories}" multiple required >
                    <th:block th:each="cat : ${listCategories}">
                      <option th:value="${cat.id}">[[${cat.name}]]</option>
                    </th:block>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 col-form-label">Danh mục đã chọn: </label>
              <div class="col-sm-12">
                <div id="chosenCategories">
                </div>
              </div>
            </div>

            <div class="text-center">
              <input type="submit" value="Save" class="btn btn-primary m-3" />
              <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
            </div>
          </form>
          <div th:replace="~{modal_fragments :: modal_dialog}"></div>
        </div>
      </div>
    </article>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/jquery.cookie.js}" type="text/javascript}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/misc.js}"></script>
<script th:src="@{/assets/js/settings.js}"></script>
<script th:src="@{/assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{/assets/js/dashboard.js}"></script>
<!-- End custom js for this page -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
  MAX_FILE_SIZE = 102400; // 100KB
  moduleURL = "[[@{/brands}]]";

  $(document).ready(function() {
    dropdownCategories = $("#categories");
    divChosenCategories = $("#chosenCategories");

    dropdownCategories.change(function() {
      divChosenCategories.empty();
      showChosenCategories();
    });

    showChosenCategories();
  });

  function showChosenCategories() {
    dropdownCategories.children("option:selected").each(function() {
      selectedCategory = $(this);
      catId = selectedCategory.val();
      catName = selectedCategory.text().replace(/-/g, "");  /*regular expression */

      divChosenCategories.append("<span class='badge badge-primary m-1'>" + catName + "</span>");
    });
  }

  function checkUnique(form) {
    brandId = $("#id").val();
    brandName = $("#name").val();

    csrfValue = $("input[name='_csrf']").val();

    url = "[[@{/brands/check_unique}]]";

    params = {id: brandId, name: brandName, _csrf: csrfValue};

    $.post(url, params, function(response) {
      if (response == "OK") {
        form.submit();
      } else if (response == "Duplicate") {
        swal({
          title: 'Thông báo',
          text:'Tên thương hiệu đã tồn tại ' + brandName,
          icon:'warning',
          button:'OK'
        });
      } else {
        swal({
          title: 'Thông báo',
          text:'Server không phản hồi',
          icon:'warning',
          button:'OK'
        });
      }

    }).fail(function() {
      swal({
        title: 'Thông báo',
        text:'Không thể kết nối tới server',
        icon:'warning',
        button:'OK'
      });
    });

    return false;
  }

</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>