<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shopme','none')"/>
<body>
    <header class="header-area sticky-header header-transparent">
        <div th:replace="navigation :: header_menu"></div>
    </header>
    <main class="main-content">
        <section class="section-space pb-0">
            <div class="container">
                <div class="row g-3 g-sm-6" >
                    <div class="col-6 col-lg-4 col-lg-2 col-xl-2" th:each="cat:${listCategories}" style="padding-top: 10px">
                        <a th:href="@{'/c/' + ${cat.alias}}" class="product-category-item">
                            <img class="icon" th:src="@{${cat.imagePath}}" width="70" height="80" alt="Image-HasTech">
                            <h3 class="title">[[${cat.name}]]</h3>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-area">
        <div class="footer-main">
            <div th:replace="navigation :: footer_menu"></div>
        </div>
    </footer>
    <script th:src="@{/assets/js/vendor/modernizr-3.11.7.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.2.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>

    <!-- Plugins JS -->
    <script th:src="@{/assets/js/plugins/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/fancybox.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.nice-select.min.js}"></script>

    <!-- Custom Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>