<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shopme','none')"/>
<body>
    <header class="header-area sticky-header header-transparent">
        <div th:replace="navigation :: header_menu"></div>
    </header>

    <main class="main-content">
        <section class="hero-two-slider-area position-relative">
            <div class="swiper hero-two-slider-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide hero-two-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-two-slide-content">
                                        <div class="hero-two-slide-text-img"><img src="assets/images/slider/text-light.webp" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-two-slide-title">ANTI AGEING</h2>
                                        <p class="hero-two-slide-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.</p>
                                        <div class="hero-two-slide-meta">
                                            <a class="btn btn-border-primary" href="/tech/products">BUY NOW</a>
                                            <a class="ht-popup-video" data-fancybox data-type="iframe" href="https://player.vimeo.com/video/172601404?autoplay=1">
                                                <i class="fa fa-play icon"></i>
                                                <span>Play Now</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-two-slide-thumb">
                                        <img src="assets/images/slider/slider3.webp" width="690" height="690" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide hero-two-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-two-slide-content">
                                        <div class="hero-two-slide-text-img"><img src="assets/images/slider/text-light.webp" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-two-slide-title">CLEAN FRESH</h2>
                                        <p class="hero-two-slide-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.</p>
                                        <div class="hero-two-slide-meta">
                                            <a class="btn btn-border-primary" href="/tech/products">BUY NOW</a>
                                            <a class="ht-popup-video" data-fancybox data-type="iframe" href="https://player.vimeo.com/video/172601404?autoplay=1">
                                                <i class="fa fa-play icon"></i>
                                                <span>Play Now</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-two-slide-thumb">
                                        <img src="assets/images/slider/slider4.webp" width="690" height="690" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== Add Pagination ==-->
                <div class="hero-two-slider-pagination"></div>
            </div>
        </section>
        <section class="section-space pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2 class="title">Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-3 g-sm-6" >
                    <div class="col-6 col-lg-4 col-lg-2 col-xl-2" th:each="cat:${listCategories}" style="padding-top: 10px">
                        <a th:href="@{'/products/page/1?sortField=name&sortDir=asc&categoryId=' + ${cat.id}}" class="product-category-item">
                            <img class="icon" th:src="@{${cat.imagePath}}" width="70" height="80" alt="Image-HasTech">
                            <h3 class="title">[[${cat.name}]]</h3>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div  class="section-space pt-0">
            <div class="container">
                <div style="padding-top: 45px" class="swiper brand-logo-slider-container">
                    <div class="swiper-wrapper align-items-center">
                        <div th:each="brand : ${listBrands}" class="swiper-slide brand-logo-item">
                            <!--== Start Brand Logo Item ==-->
                            <img th:src="@{${brand.logoPath}}" style="width: 155px;height: 110px; border-radius: 20px" alt="Image-HasTech">
                            <!--== End Brand Logo Item ==-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="section-space pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Blog posts</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
                    </div>
                </div>
            </div>
            <div class="row mb-n9">
                <div class="col-sm-6 col-lg-4 mb-8">
                    <!--== Start Blog Item ==-->
                    <div class="post-item">
                        <a href="blog-details.html" class="thumb">
                            <img src="assets/images/blog/1.webp" width="370" height="320" alt="Image-HasTech">
                        </a>
                        <div class="content">
                            <a class="post-category" href="blog.html">beauty</a>
                            <h4 class="title"><a href="blog-details.html">Lorem ipsum dolor sit amet consectetur adipiscing.</a></h4>
                            <ul class="meta">
                                <li class="author-info"><span>By:</span> <a href="blog.html">Tomas De Momen</a></li>
                                <li class="post-date">February 13, 2021</li>
                            </ul>
                        </div>
                    </div>
                    <!--== End Blog Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-8">
                    <!--== Start Blog Item ==-->
                    <div class="post-item">
                        <a href="blog-details.html" class="thumb">
                            <img src="assets/images/blog/2.webp" width="370" height="320" alt="Image-HasTech">
                        </a>
                        <div class="content">
                            <a class="post-category post-category-two" data-bg-color="#A49CFF" href="blog.html">beauty</a>
                            <h4 class="title"><a href="blog-details.html">Facial Scrub is natural treatment for face.</a></h4>
                            <ul class="meta">
                                <li class="author-info"><span>By:</span> <a href="blog.html">Tomas De Momen</a></li>
                                <li class="post-date">February 13, 2021</li>
                            </ul>
                        </div>
                    </div>
                    <!--== End Blog Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-8">
                    <!--== Start Blog Item ==-->
                    <div class="post-item">
                        <a href="blog-details.html" class="thumb">
                            <img src="assets/images/blog/3.webp" width="370" height="320" alt="Image-HasTech">
                        </a>
                        <div class="content">
                            <a class="post-category post-category-three" data-bg-color="#9CDBFF" href="blog.html">beauty</a>
                            <h4 class="title"><a href="blog-details.html">Benefit of Hot Ston Spa for your health & life.</a></h4>
                            <ul class="meta">
                                <li class="author-info"><span>By:</span> <a href="blog.html">Tomas De Momen</a></li>
                                <li class="post-date">February 13, 2021</li>
                            </ul>
                        </div>
                    </div>
                    <!--== End Blog Item ==-->
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area">
        <div class="footer-main">
            <div th:replace="navigation :: footer_menu"></div>
        </div>
    </footer>
    <!--== Start Aside Search Form ==-->
    <div th:replace="fragments :: search_header "></div>

    <script th:src="@{/assets/js/vendor/modernizr-3.11.7.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-migrate-3.3.2.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>

    <!-- Plugins JS -->
    <script th:src="@{/assets/js/plugins/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/fancybox.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.nice-select.min.js}"></script>

    <!-- Custom Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>