<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping Cart', 'none')"/>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div class="text-center">
        <h2>Your shopping cart</h2>
    </div>
    <main class="main-content">
        <section class="section-space">
            <div class="container">
                <div class="shopping-cart-form table-responsive">
                    <form action="#" method="post">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Quantity</th>
                                <th class="product-quantity">Price</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-remove">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, status : ${cartItems}" th:with="product = ${item.product}"
                                th:id="'row' + ${status.count}">
                                <td class="product-remove ">
                                    <div class="divCount"><h4>[[${status.count}]]</h4></div>
                                </td>
                                <td class="product-thumbnail text-center">
                                    <div class="thumb">
                                        <a th:href="@{'/p/' + ${product.alias}}">
                                            <img th:src="@{${product.mainImagePath}}" width="68" height="84"
                                                 alt="Image-HasTech">
                                        </a>
                                    </div>
                                </td>
                                <td class="product-name text-center">
                                    <a class="title" th:href="@{'/p/' + ${product.alias}}" target="_blank">[[${product.shortName}]]</a>
                                </td>
                                <td class="product-quantity text-center">
                                    <div th:replace="cart/quantity_control :: quantity_control(${item.quantity}, ${product.id})"></div>
                                </td>
                                <td class="product-price text-center">
                                    <span>[[${product.getDiscountPrice}]]$</span>
                                </td>
                                <td class="product-subtotal">
                                    <span class="price subtotal" th:id="'subtotal'+${product.id}">[[${item.subtotal}]]$</span>
                                </td>
                                <td><a class="linkRemove" th:rowNumber="${status.count}" th:href="@{'/cart/remove/' + ${product.id}}"><h2>x</h2></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div id="sectionEmptyCartMessage" th:class="'text-center' + ${#lists.isEmpty(cartItems) ? '' : ' d-none'}">
                    <h3>You have not chosen any products yet.</h3>
                </div>
                <div class="row" th:unless="${#lists.isEmpty(cartItems)}" id="sectionTotal">
                    <div class="col-12 col-lg-6">
                        <div class="coupon-wrap">
                            <h4 class="title">Coupon</h4>
                            <p class="desc">Enter your coupon code if you have one.</p>
                            <input type="text" class="form-control" placeholder="Coupon code">
                            <button type="button" class="btn-coupon">Apply coupon</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="cart-totals-wrap">
                            <h2 class="title">Cart totals</h2>
                            <table>
                                <tbody>
                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td>
                                        <span id="total" >[[${estimatedTotal}]]$</span>
                                    </td>
                                </tr>
                                <tr class="shipping-totals">
                                    <th>Shipping</th>
                                    <td>
                                        <ul class="shipping-list">
                                            <li class="radio">
                                                <input type="radio" name="shipping" id="radio1" checked>
                                                <label for="radio1">Flat rate: <span>$3.00</span></label>
                                            </li>
                                            <li class="radio">
                                                <input type="radio" name="shipping" id="radio2">
                                                <label for="radio2">Free shipping</label>
                                            </li>
                                            <li class="radio">
                                                <input type="radio" name="shipping" id="radio3">
                                                <label for="radio3">Local pickup</label>
                                            </li>
                                        </ul>
                                        <p class="destination">Shipping to <strong>USA</strong>.</p>
                                        <a href="javascript:void(0)" class="btn-shipping-address">Change address</a>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td>
                                        <span class="amount"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-end">
                                <div th:if="${shippingSupported}">
                                    <form th:action="@{/checkout}">
                                        <a th:href="@{/checkout}" class="checkout-button">Proceed to checkout</a>
                                    </form>
                                </div>
                                <div th:unless="${shippingSupported}">
                                    <div><span class="h5 text-warning">No shipping available for your location</span></div>
                                    <div th:if="${usePrimaryAddressAsDefault}">
                                        <a style="color: red" th:href="@{/account_details(redirect=cart)}" class="h6">Update your address</a>
                                    </div>

                                    <div th:unless="${usePrimaryAddressAsDefault}">
                                        <span style="color: red">Use another shipping address</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<!--    <div th:replace="navigation :: footer_menu"></div>-->
</div>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    decimalDigits = "[[${DECIMAL_DIGITS}]]";
    decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
    thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";

</script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/shopping_cart.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>