<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="content" class="col-6 col-lg-4 col-xl-3 mb-4 mb-sm-8">
    <div class="product-item product-st3-item" >
      <div class="product-thumb">
        <a class="d-block" href="product-details.html">
          <img th:src="@{${product.mainImagePath}}" width="370" height="450" alt="Image-HasTech">
        </a>
        <div class="product-action">
          <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
            <i class="fa fa-expand"></i>
          </button>
          <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
            <span>Add to cart</span>
          </button>
          <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
            <i class="fa fa-heart-o"></i>
          </button>
        </div>
      </div>
      <div class="product-info">
        <div class="product-rating">
          <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
        <h4 class="title"><a th:href="@{'/p/' +${product.alias}}">[[${product.shortName}]]</a></h4>
        <div class="prices" th:if="${product.discountPercent <= 0 }">
          <div th:replace="product/product_fragments :: price_fragment(${product.price})"></div>
        </div>
        <div class="prices" th:if="${product.discountPercent > 0 }">
          <span class="price"><div th:replace="product/product_fragments :: price_fragment(${product.discountPrice})"></div></span>
          <span class="price-old"><div th:replace="product/product_fragments :: price_fragment(${product.price})"></div></span>
        </div>
      </div>
      <div class="product-action-bottom">
        <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
          <i class="fa fa-expand"></i>
        </button>
        <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
          <i class="fa fa-heart-o"></i>
        </button>
        <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
          <span>Add to cart</span>
        </button>
      </div>
    </div>
      <div th:fragment="price_fragment(productPrice)" th:remove="tag">
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
      </div>
    </div>
  </div>
</body>
</html>